*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    min-width: 100%;
}

header{ 
    width: 100vw; 
    height: 100vh;
    background-image: url(../assest/headphones_hero_1.jpg); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header-content{
    display:flex;
    height: 32px;
    padding-top:15px;
    justify-content: space-between;
    margin-top: 10px;
    
}

.hamburger{
    display:flex;
    margin-left: 50px;
}
.logo{
    display:flex;
    justify-content: space-between;
    width: 100vw;
}

.logo img{
    height: 32px;
}
.header-content ul{
    display:flex;
    list-style: none;
    gap:15px;
 }

li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  width: 55px;
  color: #fff;
  padding-bottom: 5px;
  
}

a:hover{
    color:#FF6565;
}

.main-topic
{
    display:flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin:260px;
    width:637px;
    height:313px;
}


.amain-topic h1{
    width: 578px;
    height:40px ;
}


.btn{
    border: #FF6565;
    background-color:#FF6565;
    border-radius: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20PX;
    margin-top: 60px;
    margin-left:250px;
    margin-bottom: 70px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}

.main-topic p{
    font-size:16px;
}

.main-topic .p1{
   padding-top: 25px;
}

.main-topic .p2{
    padding:5px 15px 0;
}

.main-topic .p3{
    padding:5px 25px 0;
}

.main-topic .p4{
    padding:5px 25px 0;
}
