*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    min-width: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

header{ 
    width: 100vw; 
    height: 100vh;
    background-image: url(../assest/headphones_hero_1.jpg); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

}

.header-content{
    display:flex;
    height: 32px;
    padding-top:15px;
    justify-content: space-between;
    margin-top: 10px;
    
}

.hamburger{
    display:none;
    margin-left: 50px;
}
.logo{
    display:flex;
    justify-content: space-between;
    width: 100vw;
}

.logo img{
    height: 32px;
}
.header-content ul{
    display:flex;
    list-style: none;
    gap:15px;
 }

li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  width: 55px;
  color: #fff;
  padding-bottom: 5px;
  
}

a:hover{
    color:#FF6565;
}

.main-topic
{
    display:flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin:260px;
    width:637px;
    height:313px;
}


.main-topic h1{
    width: 678px;
    height:40px ;
}


.btn{
    border: #FF6565;
    background-color:#FF6565;
    border-radius: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20PX;
    margin-top: 70px;
    margin-left:250px;
    margin-bottom: 70px;
    cursor: pointer;
}

.btn:hover{
    opacity:0.9;
}

.main-topic p{
    font-size:16px;
}

.main-topic .p1{
   padding-top: 25px;
}

.main-topic .p2{
    padding:5px 15px 0;
}

.main-topic .p3{
    padding:5px 25px 0;
}

.main-topic .p4{
    padding:5px 25px 0;
}

main{
    color: #071629;
}

.section-1{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.we-do-testi{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:637px;
    margin-top: 60px;
}

.we-do-testi h1{
    font-size: 32px;
}

.we-do-2{
    margin-top: 50px;
}

.we-do-testi1{
    display:flex;
    width:1002px;
    height: 193px;
    align-items:flex-end;
    margin-top: 250px;
}

.do-logo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.do-logo1 p{
    margin-top: 40px;
    margin-left: 35px;
}

.do-logo1 h1{
    margin-top: 30px;
}

.do-logo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.do-logo2 p{
    margin-top: 40px;
    margin-left: 35px;
}

.do-logo2 h1{
    margin-top: 30px;
}

.do-logo3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.do-logo3 p{
    margin-top: 40px;
    margin-left: 35px;
}

.do-logo3 h1{
    margin-top: 30px;
}
.do-logo4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.do-logo4 p{
    margin-top: 40px;
    margin-left: 35px;
}

.do-logo4 h1{
    margin-top: 30px;
}

.section-2{
    background-image: url(./assest/headphones_hero_2.jpg);
    height: 100vh;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
}

.results-logo{
    display: flex;
    gap:60px;
}

.results h1{
    width: 448px;
    height:40px ;
}

.results p{
    font-size:16px;
}

.results .p1{
   padding-top: 25px;
}

.results .p2{
    padding:5px 15px 0;
}

.results .p3{
    padding:5px 25px 5px;
}
 
.results span{
    padding:5px 105px 0;
   
} 


